.item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.imageWrapper {
  flex: 1;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 50px;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}
