.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image {
  max-width: 100%;
  height: auto;
  width: 100%;
  display: block;
  contain: layout;
}

.item {
  width: 250px;
  margin-bottom: 10px;
}
